<%- include("../partials/header.ejs")%>

  <body>

    <%- include("../partials/navbar.ejs")%>

      <%- include("../partials/footer.ejs")%>
        <div class="container-fluid d-flex justify-content-center align-items-center" style="height:80vh;">
          <form method="GET">
            <h2>Devenir recruteur</h2>

            <div class="form-group mb-3">
              <div> <label class='mb-3' for="answer">Votre organisation existe déjà ?</label>
              </div>
              <a href="rec_apply/form" class="text-reset"><span class="btn btn-outline-success">Oui</span></a>

              <a href="rec_apply/form/organisation" class="text-reset"><span class="btn btn-outline-warning">Non</span></a>


            </div>
            <div id="dynamicDiv" style="display: none;">
              <!-- Content of the dynamically displayed div -->
              <h3>This div is displayed based on your answer!</h3>
            </div>



            <div class="mb-3">

            </div>

          </form>
        </div>


        <%- include("../partials/footer.ejs") %>