<%- include("partials/header.ejs") %>

    <body>
        <div class="container-fluid d-flex justify-content-center align-items-center" style="height:80vh;">
            <form method="POST">
                <h2>Inscription</h2>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Nom</label>
                    <input name="nom" type="name" class="form-control" id="exampleInputName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Prénom</label>
                    <input name="prenom" type="name" class="form-control" id="exampleInputName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            @
                        </span>
                        <input name='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-shield-lock"></i>
                        </span>
                        <input name='password' type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </div>
                <div class="mb-3">
                    <button class="w-100 btn btn-success" type="submit">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Register</button>
                </div>
                <div class="mb-3">
                    <p>Déjà membre ? <a href="/login">Login</a></p>
                </div>
            </form>
        </div>
        <%- include("partials/footer.ejs") %>
    